<app-header></app-header>
<div class="container">
  <div class="row" *ngIf="responseGet">
    <div class="col-12 col-lg-4">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col">
      <div class="row g-3">
        <div class="col-12 col-lg-4" *ngFor="let book of books">
          <div class="card text-center" [ngStyle]=" {
              'border':  isAdded(book._id) && '2px solid green'
            }">
            <a> <img src="https://admin-panal-back.herokuapp.com/api/books/{{ book._id }}/avatar"
                (click)="goToDetails(book._id)" />
            </a>
            <div class="card-body">
              <h3>المؤلف : {{ book.author }}</h3>
              <h5 class="card-title">
                <!-- maxLength: 22:"....." -->
                {{ book.title }}
              </h5>
              <span class="badge fs-5 rounded-pill bg-primary" id="price">
                {{ book.price }} جنيه
              </span>
              <div class="rateing">

                <p hidden>
                  {{ getCarruntRate(book.rate) }}
                </p>

                <button mat-icon-button class="btn btn-sm text-warning m-0" *ngFor="let r of ratingArr; index as i">
                  <mat-icon>
                    {{ returnStar(i) }}
                  </mat-icon>
                </button>
              </div>

              <button class="btn btn-danger" id="addCart" (click)="addToCart(book)">الاضافة الي العربة</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
