.card-body {
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}
/* .card {
  margin: 20px 10px;
} */
.card-body a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin-top: auto;
  font-weight: 600;
}
/* .card-body a:hover {
  color: #bb2d3b;
  text-decoration: none;
} */
#price {
  margin-top: 21px;
  margin-bottom: 30px;
}

.container {
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
}
h3 {
  /* font-size: 1.75rem; */
  font-size: 19px;
  font-weight: 900;
}
h5 {
  /* font-size: 1.25rem; */
  font-size: 17px;
  margin: 2px;
  padding: 0px;
}
.rateing {
  margin: -34px;
  padding: 11px;
}
#addCart {
  margin-top: 19px;
}
/* .card:hover {
  background-color: black;
} */
