/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/jquery-ui/themes/base/selectable.css";

.root {
  --mc: #dddddd;
  --sc: #b91d23;
  --tc: ;
}
