/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

/* Constant Colors */
:root{
  --mc : #000032;
  --sc : #63FF1A;
  --tc : #000;
  --fc : #D29F96;
  --bg : #fff6f4;
  --h5 : #FFFB1A;
  --text: #868096;
}
