<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="offset-lg-2 col-md-12 col-lg-6">
            <p class="text-center  fs-5 fw-bold mt-5 mb-5">{{card.title}}</p>

            <h1 class="text-end fw-bold mt-5 text-primary fs-1 mb-5 ">
               :نبذة عن الكتاب
            </h1>
            <div class="vertical-row"></div>
            <div class="card mb-5">
                 <div class="card-body">
                   <h2 class="text-end text-dark fs-2 fw-bold mt-2">:الوصف </h2>
                   <p class="text-end fw-light text-secondary fs-4 mt-3">
                    هذا الكتاب هو جهد متواضع لجمع أساسيات نظم المعلومات و تطبيقاتها الإدارية من مراجع مفيدة في مكان واحد، حتى يستفيد منها القارئ. هذا الكتاب موجه إلى. . .  طلاب تقانة المعلومات وطلاب الدراسات العليا في مجال إدارة الحديث..
                   </p>
                </div>
              </div>
              <div class="pull-right">
               <h1 class="text-end fw-bold mt-5">من فضلك قم بتقيم الكتاب </h1>
            <!-- Display an array of star/star_border buttons -->
            <button mat-icon-button class="btn btn-lg border-0 text-warning " *ngFor="let r of ratingArr; index as i" (click)="onClick(i)">
    <mat-icon>
        {{ returnStar(i) }}
    </mat-icon>
</button>
              </div>
        </div>

        <div class="offset-lg-1 col-md-12 col-lg-3 card p-0 text-center">
            <img class="img-fluid" src="http://localhost:8080/api/books/{{card._id}}/avatar" />
            <div class="card-body">
                <h3 class="card-title fs-5 fw-bold">المؤلف : {{ card.author }}</h3>
                <h5 class=" fs-5 text-secondary ">{{ card.title }}</h5>
                <span class="badge badge-pill fs-5 mt-3 badge- badge-primary">
                {{card.price}} جنيه
              </span>
              <br>
                <!-- <div class="price">
                <h5>{{ book.price }}</h5>
              </div> -->
                <button mat-icon-button class="btn  text-warning mt-3" *ngFor="let r of ratingArr; index as i">
                      <mat-icon>
                           {{ returnStar(i) }}
                      </mat-icon>
                </button>
                <a href="#" class="btn btn-danger">الاضافة الي العربة</a>
            </div>
        </div>

    </div>
</div>
<div class="container "*ngIf ="form">
  <div class="row col-9 ">
  <h1 class="float-right"> التعليقات </h1>
  <form [formGroup]="form" class= "col-9">
   <div class="input-group">
  <textarea class="form-control comment" formControlName="commentContent"  placeholder="اترك تعليقاً" #comment></textarea>
</div>
<button type="button" class="btn btn-primary btn-md pull-right mt-3 mb-2" (click)="pushComment(comment.value);comment.value=''"> تأكيد</button>
<br>
<br>
<br>

                <div class="vertical-row"></div>
                <div>
                  <ul class="list-group"  *ngFor="let comment of comments">
                    <li class="list-group-item border border-info mt-2 border-3 rounded-pill">
                         <p> {{comment.description}} </p>
                         <a href="" ><span class="glyphicon glyphicon-trash bg-danger"style="float: right"></span></a>
                    </li>

                  </ul>
                </div>
              </form>
            </div>

</div>
<!--
 <form class="example-form" [formGroup]="form">

    <div *ngIf="card.mode == 'activate'">


    <h2 mat-dialog-title style="    font-size: initial;"> Please provide a reason for re-activating this item</h2>

    </div>
    <div *ngIf="card.mode == 'deactivate'">

    <h2 style="    font-size: initial;" mat-dialog-title> Please provide a reason for deactivating this item</h2>

    </div>

    <p>
        <mat-form-field class="example-full-width" appearance="fill">

            <textarea formControlName="notes" matInput placeholder="text here ..." cols="30" rows="5">
                </textarea> -->
             <!-- <mat-error *ngIf="isControlHasError(form, 'reasons', 'required')">
                Name is <strong>required</strong>
            </mat-error>  -->
        <!-- </mat-form-field>
    </p>

    <br />
    <br />

    <div class="row" align="end">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
                <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
                    <span>Save</span>

                </button>
                <button mat-flat-button color="warn" type="button"  tabindex="-1">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</form> -->
<app-footer></app-footer>
