<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">الرئيسية</a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            كورسات اكاديمية
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">الهندسة</a></li>
            <li><a class="dropdown-item" href="#">الاقتصاد المنزلي</a></li>
            <li><a class="dropdown-item" href="#">الشريعة الإسلامية</a></li>
            <li><a class="dropdown-item" href="#">الطب</a></li>
            <li><a class="dropdown-item" href="#">الحقوق</a></li>
          </ul>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            الدبلومات
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">اختبارات الدراسات التطبيقة</a></li>
            <li><a class="dropdown-item" href="#">إدارة و اقتصاد</a></li>
            <li><a class="dropdown-item" href="#">دبلومات مهنية</a></li>
            <li><a class="dropdown-item" href="#">علم الاجتماع</a></li>
          </ul>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            دراسات عليا
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">الفنون و العلوم الانسانية</a></li>
            <li><a class="dropdown-item" href="#">الادارة و الاقتصاد</a></li>
            <li><a class="dropdown-item" href="#">العلوم</a></li>
            <li><a class="dropdown-item" href="#">التعليم الخاص</a></li>
          </ul>


        <li class="nav-item">
          <a class="nav-link" href="#">تواصل معنا</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">من نحن</a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">تسجيل الدخول</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">انشاء حساب</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
